# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code settings (optional, uncomment if needed)
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Flutter specific files
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/

# Symbolication and Obfuscation related
app.*.symbols
app.*.map.json

# Android Studio will place build artifacts here
android/.gradle/
android/.idea/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/app/build/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# iOS-related files
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/Generated.xcconfig

# Web-related files
web/manifest.json

# macOS-related files
macos/Flutter/GeneratedPluginRegistrant.*
macos/Pods/
macos/Runner.xcworkspace/
macos/.symlinks/

# Linux-related files
linux/flutter/GeneratedPluginRegistrant.*

# Windows-related files
windows/flutter/GeneratedPluginRegistrant.*
