.App {
  text-align: center;
  background-color: #E9ECFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #E9ECFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Page-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  /* padding: 10%; */
  margin-left: 10%;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  gap: 10px;
}

.List-header {
  /* display: 'flex';
  justify-Content: 'space-between'; 
  align-Items: 'center'; 
  width: '100%';  */
  /* text-align: left; */
  width: 50%;
}

.List-subheader {
  text-align: center;
  width: 50%;
}

.List-image-header {
  font-size: 150%;
}

.List-item {
  border-radius: 25px;
  /* background: #2B328A; */
  border: 2px solid #aaaaaa;
  padding: 20px;
  width: 50%;
  /* height: 150px;  */
}

.List-button{
  background-color: #2B328A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 500px;
  border-radius: 25px;
  transition-duration: 0.2s;
}

.List-button:hover {
  background-color: #2b318acf;
  color: white;
}

/* .Planner-item-header {

} */

.Planner-item{
  font-size: 75%;
  color: rgb(60, 60, 60);
}

.Planner-vote{
  font-size: 75%;
  color: rgb(60, 60, 60);
  text-align: right;
}

.Vote-button {
  background-color:rgb(100, 100, 100);
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  border-radius: 100%;
  transition-duration: 0.2s;
}

.Vote-button:hover {
  background-color: #2B328A;
}

.Icon-button {
  color: rgb(0, 0, 0);
  background-color: #E9ECFF;
  font-size: 150%;
  transition-duration: 0.2s;
}

.Icon-button:hover {
  color: rgb(100, 100, 100);
  background-color: #E9ECFF;

}

.Icon-button:disabled {
  color: rgb(100, 100, 100);
  background-color: #E9ECFF;
  cursor: default;
}

.Page-color {
  background-color: #E9ECFF;
}

.Container {
  display: 'grid';
  grid-template-columns: 1fr auto;
  align-Items: 'center';
  width: '100%';
}

.Left-side {
  text-align: left;
  /* width: '100%'; */
}

.Right-side {
  text-align: right;
  /* width: '100%'; */
}

.App-link {
  text-decoration: none;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.Comment-Container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents */
  font-size: small;
  font-weight: normal;
}

.Comment-Scrolling-Box {
  width: 300px; /* Set a width for the box */
  height: 200px; /* Set a height for the box */
  overflow-y: auto; /* Enable vertical scrolling */
  /* Make it look nice */
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  line-height: 1.35;
}
